.appointment-container{
    background-color:#0066ccaf;
    padding: 40px;
    border-radius: 16px;
    margin: 10px auto;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    animation: fadeIn 1s ease-in-out;
}

.appointment-container h2{
    text-align: center;
    margin-bottom: 30px;
    color:#000000;
    font-size: 26px;
}

.appointment-container label{
    display: block;
    margin: 10px 0;
    font-weight: 600;
    color: #333;
}

.appointment-container input, .appointment-container select{
    width: 100%;
    padding: 12px;
    border: 3px solid rgba(0,102,284,0.3);
    border-radius:8px;
    font-size:15px;
    transition:0.3s;
}

.appointment-container input:focus, .appointment-container select:focus{
    border-color: black;
    box-shadow: 0 0 8px rgba(0,102,284,0.3);
    outline: none;
}

.book-btn{
    width: 100%;
    padding: 14px;
    border: none;
    background:#000000d3;
    color:cornflowerblue;
    font-size: 17px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.book-btn:hover{
    background:mintcream;
}

body.appointment-whole {
    background :url(../img/reception\ 101.jpg) center center/cover;  
    position: relative;
    height: 90vh;
    justify-items: center;
    align-content: center;
    width: auto;
    backdrop-filter: blur(8px);    

    
}