RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteRule ^home index.php [NC,L]

RewriteRule ^login login.php [NC,L]
RewriteRule ^logout logout.php [NC,L]
RewriteRule ^auth auth.php [NC,L]
RewriteRule ^redirect inc/redirect.php [NC,L]
RewriteRule ^profile view/profile.php [NC,L]

RewriteRule ^not-found view/404.php [NC,L]
RewriteRule ^genders view/genders.php [NC,L]
RewriteRule ^countries view/countries.php [NC,L]
RewriteRule ^roles view/roles.php [NC,L]
RewriteRule ^users view/users.php [NC,L]
RewriteRule ^doctors view/doctors.php [NC,L]
RewriteRule ^patients view/patients.php [NC,L]
RewriteRule ^meetings view/meetings.php [NC,L]
RewriteRule ^administrators view/administrators.php [NC,L]


RewriteRule ^temp view/temp.php [NC,L]


ErrorDocument 404 https://localhost/my/ABUAD-Online-Hospital/src/admin/not-found